@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron Regular'), local('Orbitron-Regular'), url('./css/yMJRMIlzdpvBhQQL_Qq7dyg.ttf') format('truetype');
}
